@(session: uimodels.ShardBoxSession)

<html>
<head><title>@session.appInfo.title</title></head>
<body>

<h1>@session.appInfo.headline</h1>

@import helper._

@defining(session.loginForm) { loginForm =>
	@form(action = routes.ShardBoxController.login()) {
	@inputText(loginForm("user"))
	@inputPassword(loginForm("password"))
	<button>login</button>
	}
	}
	
<h6>Session Id</h6>	

@session.id.string

<h6>Request Dump</h6>

<pre>@debug.HttpRequestDump.dump(session.request)</pre>

<h6>Intro</h6>

<p>@session.appInfo.intro</p>

</body>
</html>

